/*-----------------Regle générale pour tout le site----------------------------*/
html body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #D7CCC8;

}

/*______les titres_______*/
#accroche,
#av{
    font-family:'Roboto', sans-serif;
}
.topdestinations{
    font-family: 'Roboto', sans-serif;
}

.inner{
    width: 80%;
    margin: auto;
}

.topdestinations {
     text-align: center;
     padding-top: 40px;
}

/*__________________________________ Partie accueil_____________________________*/
#seineparis{
    width: 750px;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
   }
   .accueil{
       position: relative;
       text-align: center;
   }
   
   #accroche{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       color: white;
   }

   /*_________________________formulaire___________________________________________________*/
.formulairedate{
    text-align: center;
}

.formul{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

.button{
padding: 5px;
border-radius: 10px;
background-color: #18CBD9;
text-align:center;
height: 40px;
width: 120px;
}

/*_____________________________section carroussel________________________________*/

figure {
    border: thin #c0c0c0 solid;
    display: inline-flex;
    flex-flow: column;
    padding: 0px;
    max-width: 300px;
    margin: auto;
}

img.slide{
    width: 250px;
    height: 250px;
    object-fit: cover;
    text-align: center;
}

.slide{
    text-align: center;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/*_________________________container____________________________________________________*/
#personae{
    width: 30px;
}

.container.flex {
    display: flex;
    justify-content: center;
}

.container {
    padding: .50em;
    height: 200px;
    box-shadow: 0px 0px 5px #333;
    border-radius: 4px;
    background: light-gray;
}

.container p {
    text-align: center;
    background:#FF9800;
    margin: 1em;
    padding: 1em;
}

#container{
    padding-top: 60px;
}
/*______________________________________*class avis_____________________________________*/

.avis{ background-color:#FAFAFA; 
    color: darkblue;
    padding: 2px;
    margin: 2px;
    text-align: center;  
}

#av{
    text-align: center;
}

.lesavis{
    padding-top: 60px;
}

/*_________________________________partie footer___________________________________________*/

footer{
    background-color:#2A2727;
    size: 5px;
    color:white;
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background:black;
}

#imgfooter{
    width: 5%;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}

/*Contact footer*/

.footer-vousinformez h3,
.footer-lentreprise h3,
.footer-nosengagements h3,
.footer-suiveznous h3{
    font-size: 20px;
    padding-bottom: 20px;
}

/*Services*/

.liste-informations,
.liste-entreprise,
.liste-engagements,
.liste-suiveznous {
    list-style-type: none;
    
}

.liste-informations li,
.liste-entreprise li,
.liste-engagements li,
.liste-suiveznous li {
    padding: 2px 0;
}

.liste-informations a,
.liste-entreprise a,
.liste-engagements a,
.liste-suiveznous a {
    text-decoration: none;
    color: white;
}

.liste-informations a:hover,
.liste-entreprise a:hover,
.liste-engagements a:hover,
.liste-suiveznous a:hover {
    color: yellow
}

/*Suinez-nous-reseaux sociaux*/

.liste-suiveznous img{
    width: 30px;
    margin: 10px 10px;
}

.liste-suiveznous a{
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 25px;
}




/*--------------------Régle pour le HEADER---------------------*/
.menu{
    width: 100%;
    height: 66px;
    background:#072858;
    line-height: 66px;
}

.m-left{
    float: left;
}

.logo{
    margin: 0px;
    padding: 0px;
    line-height: 66px;
    color:#F5CF0F;
    font-family: 'Roboto-bold';
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1px;
}

.m-right{
    float:right;
}

.m-link{
    text-decoration: none;
    color: white;
    font-weight: 500px;
    padding: 0;
    margin:0 10px;
    transition: all 0.3s; 
    border-bottom: 2px solid transparent;
}

.m-link:hover{
    padding-bottom: 3px; 
    border-color: white;
}

.m-link i {
    margin-right: 5px;
}

/*Media queries*/

/*________ partie footer________*/


@media screen and (max-width:1200px){

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px){
    .contenu-footer{
        width: 320px;
    }
    .bloc{
        width: 300px;
        margin: 30px 30px;
    }

    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;}
    }